@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<br /><br /><br /><br /><br /><br />
<center>
    <p>
        <h2>This is a demonstration of an ABOUT page</h2>
    </p>
</center>
<br /><br /><br /><br /><br /><br />