@{
    ViewBag.Title = "Home Page";
}
<div class="">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

@{
    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "Title",
        Value = "Title",
        Selected = true
    });
    listItems.Add(new SelectListItem
    {
        Text = "Author",
        Value = "Author"
    });
    listItems.Add(new SelectListItem
    {
        Text = "Description",
        Value = "Description"
    });
}

@using (Html.BeginForm("Search", "Books", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
{
    <p>
        <h1>Search Book Here</h1>


        @Html.DropDownList("columnString", listItems)
        @Html.TextBox("searchString")
        <input type="submit" value="Search" />
    </p>
}
